.blog-post-preview {
  background: white;
  margin-bottom: 20px;
  border-radius: 10px;
  -webkit-box-shadow: -3px 5px 17px -3px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: -3px 5px 17px -3px rgba(0, 0, 0, 0.4);
  box-shadow: -3px 5px 17px -3px rgba(0, 0, 0, 0.4);
}

.blog-post-preview header {
  width: 85%;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 10px 10px;
  border-bottom: 2px solid black;
}

.blog-post-preview h3 {
  margin: 0;
}

.blog-post-preview .info-container {
  width: 85%;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.info-container .image-container {
  flex-basis: 30%;
  text-align: center;
}

.info-container .Preview-text {
  flex-basis: 70%;
  padding-left: 20px;
}
