.navbar-con {
    margin-top: 8px;
    width: 100%;
    padding: 16px 32px;
    position: fixed;
    top: 0;
    display: flex;
    border-top: solid 6px white;
    border-bottom: solid 6px white;
    justify-content: space-between;
    background-color: black;
    z-index: 100;
    align-items: center;
}

.navbar-con.active {
    border-color: #000;
    background-color: #CC5803;
    transition-duration: 0.3s;
}

.navbar-con.active .nav-item,
.navbar-con.active .nav-item-disable {
    color: #000;
    transition-duration: 0.3s;
}


.nav-item, .nav-item-disable {
    color: #F7F4F3;
    font-family: 'Roboto';
    text-decoration: none;
    font-weight: 700;
    font-size: 26px;
    display: flex;
    align-items: center;
    gap: 5px;
    transition-duration: 0.2s;
    text-align: center;
    min-width: 120px;
}

.nav-item:hover {
    color: #CC5803;
    cursor: pointer;
    transition-duration: 0.2s;
    text-decoration: underline;
}

.nav-item:hover svg {
    animation: rotate-button 0.5s;
}

.options-container {
    width: 100vw;
    height: 0;
    position: fixed;
    overflow: hidden;
    z-index: 99;
    background-color: #CC5803;
    transition-duration: 0.3s;
}

.options-container.active {
    display: block;
    width: 100vw;
    height: 100vh;
    top: 0;
    transition-duration: 0.3s;
}

.links-container {
    width: 100%;
    max-width: 768px;
    margin: 0 auto;
    display: block;
}

.links-container a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
}

.links-container a:hover {
    text-decoration: underline;
}

.links-container a .link-title {
    margin-bottom: 0;
    font-size: 96px;
}


@keyframes rotate-button{
    100% {
        transform: rotate(180deg)
    }
}