.navbar-con {
    margin-top: 8px;
    width: 100%;
    padding: 16px 32px;
    position: fixed;
    top: 0;
    display: flex;
    border-top: solid 6px white;
    border-bottom: solid 6px white;
    justify-content: space-between;
    background-color: black;
    z-index: 100;
}
.nav-item {
    color: #F7F4F3;
    font-family: 'Roboto';
    text-decoration: none;
    font-weight: 700;
    font-size: 26px;
    display: flex;
    align-items: center;
    gap: 5px;
    transition-duration: 0.2s;
}

.nav-item:hover {
    color: #CC5803;
    cursor: pointer;
    transition-duration: 0.2s;
}

.nav-item:hover svg {
    animation: pulse 1.5s infinite
}

@keyframes pulse{
    0%, 100%{
       font-size: 30px
    }
    50% {
        font-size: 16px
    }
}